# dependencies
node_modules/

# build output
# (for simplest GitHub Pages deploy, we COMMIT dist/)

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# misc
*.tsbuildinfo

# local debug bundles (not part of the site)
dist/bundle.debug.js
dist/bundle.debug.js.map

